* {
    padding: 0;
    margin: 0;
    line-height: 25px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* Default stuff */
.a {
    text-decoration: none;
}

.font-weight {
    font-weight: bold;
}

.yellow {
    color: #B7BD5B;
}

.white {
    color: #fff;
}

.grey {
    color: grey;
}

.btn {
    background-color: #B7BD5B;
    color: #fff;
    font-weight: bold;
    padding: 3px 20px;
}
.btn:hover {
    filter: brightness(.8);
}

.btn-disabled {
    cursor: no-drop;
    user-select: none;
}

.img {
    max-width: 100%;
}

.list {
    list-style-type: none;
}

/* Tooltip styling */
.tooltip::after {
content: attr(data-tooltip);
position: absolute;
bottom: 150%;
left: 50%;
transform: translateX(-50%);
background-color: #333;
color: #fff;
padding: 5px;
border-radius: 6px;
white-space: nowrap;
opacity: 0;
visibility: hidden;
transition: opacity 0.3s;
font-size: 12px;
pointer-events: none;
}

.tooltip:hover::after {
opacity: 1;
visibility: visible;
}



/* Navbar */
#nav {
    background-color: #38312E;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
#nav-img {
    width: 50px;
    margin-left: 15px;
}
#nav-list {
    display: flex;
    gap: 15px;
}
.nav-item {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.nav-item:hover {
    filter: brightness(.8);
}
#nav-sign-in-btn {
    margin-right: 15px;
}

/* !Nav button */
#nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    padding: 0em;
    display: none;
    height: 3em;
    border-radius: 50%;
    background: transparent;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}
#nav-toggle:hover {
    opacity: .75;
}

#hamburger {
    width: 50%;
    position: relative;
}
#hamburger,
#hamburger::before,
#hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: #fff;
}
#hamburger::before,
#hamburger::after {
    content: '';
    width: 100%;
}
#hamburger::before {
    transform: translateY(-6px);
}
#hamburger::after {
    transform: translateY(3px);
}
/* !Nav button */



/* Header */
#header {
    background-color: #4D433F;
    display: flex;
    justify-content: center;
    padding: 200px 0;
    min-width: 350px;
}
#header-inner-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    width: 1050px;
    align-items: center;
}
#name-text {
    font-size: 38px;
    margin-bottom: 10px;
    line-height: 40px;
}
#name-text-container {
    text-align: center;
}
#selling-website-container {
    max-width: 250px;
}



/* Section */
#section {
    background-color: rgb(228, 228, 228);
    padding: 50px 0;
    min-width: 350px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}
.projects-item {
    display: flex;
    gap: 25px;
    align-items: center;
}



/* Article */
#article {
    display: flex;
    padding: 100px 5px;
    min-width: 350px;
    justify-content: center;
}
#article-container {
    display: flex;
    width: 1150px;
    justify-content: space-between;
}
#about-text {
    max-width: 600px;
    padding: 15px;
}

#blog-recent-post {
    border-radius: 8px;
    width: 300px;
    height: 350px;
    box-shadow: 2px 2px 12px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#blog-img {
    background-image: url("../img/project.png");
    background-size: cover;
    height: 175px;
    display: flex;
    align-items: flex-end;
}
#img-text-container {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
    color: white;
    line-height: 0;
    width: 100%;
    padding: 5px 15px;
}
#blog-text-container {
    padding: 15px;
}



/* Footer */
#footer {
    background-color: #4D433F;
    padding-top: 50px;
    min-width: 350px;
    margin-top: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
#inner-footer-container {
    display: flex;
    gap: 250px;
}
.footer-list-item:hover {
    filter: brightness(.8);
}



/* Media */
@media (max-width: 1250px) {
    #section {
        gap: 50px;
    }
    #inner-footer-container {
        gap: 50px;
    }
}

@media (max-width: 1025px) {
    #section {
        flex-direction: column;
        text-align: center;
    }
    .projects-item {
        flex-direction: column;
    }
    #article-container {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    #article {
        padding: 100px 0;
    }
}

@media (max-width: 825px) {
    #header-inner-container {
        flex-direction: column;
        text-align: center;
        gap: 150px;
    }
    #inner-footer-container {
        flex-direction: column;
    }
    #name-text {
        max-width: 250px;
    }
}

@media (max-width: 625px) {
    #nav-toggle {
        display: block;
    }
    #nav {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    #nav-list {
        flex-direction: column;
        gap: 5px;
        display: none;
        margin-top: 5px;
    }
    #nav-sign-in-btn {
        margin-right: 0;
    }
    #nav-img {
        margin-left: 0;
    }
    #secound-nav-list {
        display: none;
        margin-top: 5px;
    }
}

@keyframes highlight {
    0% { background-color: rgba(0, 0, 0, 0.301); }
    50% { background-color: rgba(0, 0, 0, 0.103); }
    100% { background-color: transparent; }
}

.highlight {
    animation: highlight 0.3s ease-in-out;
}